<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
     <% include partials/header %>
  </head>
  <body>
    <body>
      <h1 class="header">Most Popular Bars</h1>
      <div class="container">
       
        <div class="bars">
          <% bars.forEach((bar) => { %>
          <div class="card">
            <div class="image">
              <img src="<%= bar.image_url %>" alt="" />
            </div>
            <div class="text">
              <h2><%= bar.bar_name%></h2>
              <p class="address"><%= bar.address %></p>
            </div>
            <div class="ratings">
              <div class="stars">
                <% for (let j = 0; j < bar.rating; j++) { %>
                <i class="fa-solid fa-star"></i>
                <% } %>
                <!-- / -->
                <% for (let k = 0; k < 5 - bar.rating; k++) { %>
                <i class="fa-regular fa-star"></i>
                <% } %>
              </div>
              <!-- // price review  -->
              <div class="price">
                <% for (let j = 0; j < bar.price_rating; j++) { %>
                <i class="fa-solid fa-dollar-sign red"></i>
                <% } %>
                <!-- / -->
                <% for (let k = 0; k < 5 - bar.price_rating; k++) { %>
                <i class="fa-regular fa-dollar-sign grey"></i>
                <% } %>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </body>
    <% include partials/script %>
 </html>
