body {
    background-color: rgba(128, 128, 128, 0.222);
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 40px;
}
.conteiner {
    width: 95%;
    height: 500px;
    background-color: white;
    margin: 20px auto;
}
